old_version/*
old_version/
node_modules/
node_modules/*
node_modules
node_modules
/node_modules
/node_modules/*
/node_modules/
.env
TESTING_README.md
USUARIOS_SISTEMA.md
PROYECTO_COMPLETADO.md
coverage/*
coverage/